<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>


</head>
<body>

    <div id="map"></div>
    <div id="places"></div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3e4H1xcvtu3cwsB4iOQ9inDpH9zOVIjQ&libraries=places"></script>

    <script>
    initMap = function(){

        //map options
        var options = {
            zoom:13,
            center:{lat: 42.3601, lng: -71.0589 }
        };

        //new map
        var map = new google.maps.Map(document.getElementById("map"),options)

        var request = {
            location: {lat: 42.3601, lng: -71.0589 },
            radius: '500',
            query:'restaurant'
        };

        service = new google.maps.places.PlacesService(map);
        service.textSearch(request, callback);

        function callback(results, status) {
            alert(status);
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                createMarkers(results);
                for (var i = 0; i < results.length; i++) {
                    var place = results[i];
                    console.log(place);
                }
            }
        }

        function createMarkers(places) {
            var bounds = new google.maps.LatLngBounds();
            var placesList = document.getElementById('places');

            for (var i = 0, place; place = places[i]; i++) {
                var image = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                var marker = new google.maps.Marker({
                    map: map,
                    icon: image,
                    title: place.name,
                    position: place.geometry.location
                });

                var li = document.createElement('li');
                li.textContent = place.name;
                placesList.appendChild(li);

                bounds.extend(place.geometry.location);
            }
            map.fitBounds(bounds);
        }
    };

    initMap()
    </script>


</body>
</html>