<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
            <title>home</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta name="Content-Security-Policy" content="default-src 'unsafe-inline''" />
            <link rel="stylesheet"  href="@routes.Assets.versioned("stylesheets/main.css")" />
        </head>
    </head>
    <body>

        <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
            <div class="content">
                <h1>Trip Planning</h1>
                <p class="major">
            A simple trip planning application using <a href="https://developers.google.com/maps/">Google Maps API</a> to search specific destinations via different transports and time slots, implemented with Scala and Play framework<br/>
                    Yiyi Zhou: Zhou.yiy&#64;husky.neu.edu<br/>
                    Yang Li: Li.yang5&#64;husky.neu.edu<br/>
                    Zheng Liu: Liu.zheng4&#64;husky.neu.edu<br/>
        </p>
                <ul class="actions vertical">
                    <li>
                        <a href="/login" class="button special fit">Login</a>
                            &nbsp;&nbsp;&nbsp;
                        <a href="/register" class="button fit">Register</a>

                    </li>
                </ul>
            </div>
            <div class="image">
                <img src="@routes.Assets.versioned("images/banner.jpg")" alt="" />
            </div>
        </section>

    </body>
</html>